* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #36afff, #9face6);
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: #9ed2e9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(43, 40, 40, 0.2);
  width: 330px;
}

.display {
  background-color: #41414e;
  color: #faf5f5;
  height: 60px;
  width: 100%;
  font-size: 32px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

button {
  background-color: #cdcdd6;
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #c2c2e2;
}

button:active {
  transform: scale(0.95);
}
button.operator {
  background-color: #f39c12;
  color: #ffffff;
}

button.operator:hover {
  background-color: #e67e22;
}
button.clear {
  background-color: #e74c3c;
  color: #ffffff;
}
button.clear:hover {
  background-color: #c0392b;
}

button.equal {
  background-color: #27ae60;
  grid-column: span 2;
  color: #ffffff;
}
button.equal:hover {
  background-color: #219150;
}
